<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Tumull | Discord Bot List" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://tumull.casino/" />
        <meta property="og:image" content="https://cdn.discordapp.com/avatars/914863556644720662/e3e7177fccdae7fe043cf30851157145.webp?size=4096" />
        <meta property="og:description" content="The easiest and fastest website to grow your discord bot and community!" />
        <meta name="theme-color" content="#FF2142">
        <meta name="twitter:card" content="summary">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <link rel="shortcut icon" href="">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <title>Botrix</title>
   <script src="/js/main.js"></script>
</head>
<body>
    <%- include("templates/bar") %>
    <div class='centered'>
        <div style='padding-top: 30px;'>
            <h1>About Tumull</h1>
            <br>
            <hr>
            <br>
            <h1 style='color: white;'>The Team</h1>
            <br>
            <hr>
            <br>

            <div id='cards'>
                <div class="card">
                    <div style='padding-top: 20px;'>
                        <img src="https://cdn.discordapp.com/avatars/875768640320962650/b83919fb8a42f0fbe784dfe69cbcb732.webp?size=4096" alt="Avatar" style="width:50%; border-radius: 50%;">
                    </div>
                    <div class="peopleContainer">
                      <h4><b>Araan Sheikh</b></h4> 
                      <p>Chief Executive Officer</p> 
                    </div>
                </div>
            </div>
            <br>
            <h1 style='color: white;'>Powered by</h1>
            <br>
            <hr>
            <br>
            <div class='belowUser'>
                <div class='item1'>
                    <br>
                    <h1 style='color: white;'><span><</span>%= <span>EJS</span><span> %</span><span>></span></h1>
                </div>
                <div class='item2'>
                    <img width='300px' style='justify-content: center;' height='100px' src='https://bots.ondiscord.xyz/_nuxt/img/mongodb.25bd805.svg'>
                </div>
                <div class='item3'>
                    <br>
                    <img src='https://www.filestack.com/assets/base/fs-logo-8ad73c5ae2b7a85eaac0378ce7b74a0f6240b45f317f169ae503127054e97be9.svg'>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

    <script>var user = <%= user %> 
    </script>
</body>
</html>
